*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;

}


body{

height:100vh;

background:linear-gradient(
to right,
#005d67,
#00ff80
);


display:flex;
justify-content:center;
align-items:center;

}



.container{

width:400px;

background:white;

padding:40px;

border-radius:15px;

text-align:center;

box-shadow:0 10px 30px rgba(0,0,0,0.2);

}



.logo{

width:60px;
height:60px;

background:#0891b2;

color:white;

margin:auto;

border-radius:10px;

display:flex;
align-items:center;
justify-content:center;

font-size:30px;

}



h1{

margin:20px 0;

color:#111827;

}



input{

width:100%;

padding:13px;

margin:10px 0;

border-radius:8px;

border:1px solid #ccc;

}



button{

width:100%;

padding:13px;

background:#0891b2;

color:white;

border:none;

border-radius:8px;

font-size:16px;

cursor:pointer;

}



button:hover{

background:#056477;

}



a{

color:#0891b2;

text-decoration:none;

}



.error{

color:red;
margin-bottom:10px;

}